<form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>

<%# the method attribute holds the HTTP verb (GET by default)
the action attribute holds the url of the request it triggers on submit %>
